<!-- /templates/user_detail.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <!-- 사용자 정보 -->
            <div class="section-header">
                고객 정보
            </div>
            <table class="table" id="user">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">gender</th>
                        <th scope="col">age</th>
                        <th scope="col">birthday</th>
                        <th scope="col">address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id={{ user.id }}>
                        <td> {{ user.name }} </td>
                        <td> {{ user.gender }} </td>
                        <td> {{ user.age }} </td>
                        <td> {{ user.birthdate }} </td>
                        <td> {{ user.address }} </td>
                    </tr>
                    </tbody>
            </table>

            <!-- 상품 주문 정보 -->
            <div class="section-header">
                주문 정보
            </div>
            <table class="table" id="order">
                <thead>
                    <tr>
                        <th scope="col">order id</th>
                        <th scope="col">purchased date</th>
                        <th scope="col">purchased location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr id={{ order.id }}>
                        <td> <a href="{{ url_for('order.orderitem_detail', order_id=order.id) }}">{{ order.id }}</a> </td>
                        <td> {{ order.orderat }} </td>
                        <td> <a href="{{ url_for('store.store_detail', store_id=order.storeid) }}">{{ order.storeid }}</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="dual-list">
                <!-- 자주 방문한 매장 -->
                <div class="left-section">
                    <div class="section-header">
                        자주 방문한 매장 Top 5
                    </div>
                    <ul>
                        {% for store, count in frequent_stores %}
                            <li>{{ store.name }} ({{ count }}번 방문)</li>
                        {% endfor %}
                    </ul>
                </div>
            
                <!-- 자주 주문한 상품명 -->
                <div class="right-section">
                    <div class="section-header">
                        자주 주문한 상품명 Top 5
                    </div>
                    <ul>
                        {% for item, count in frequent_items %}
                            <li>{{ item.name }} ({{ count }}번 주문)</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
