<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Welcome to My Blog</h1>
    <ul>
        {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Author: {{ post.author.username }}</p>
            <form action="{{ url_for('del_post', post_id=post.id) }}" method="post">
                <input type="submit" value="삭제">
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/add_post">Add New Post</a>
</body>
</html>
