<!-- /templates/navbar.html -->
<nav class="navbar navbar-expand-md main-nav">
    <div class="container justify-content-center">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.users') }}">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order.orders') }}">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('order.order_items') }}">Order Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('item.items') }}">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('store.stores') }}">Store</a>
            </li>
        </ul>
    </div>
</nav>
