{% extends 'base.html' %}

{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <!-- 사용자 정보 -->
            <table class="table" id="user">
                <thead>
                    <tr>
                        <th scope="col">name</th>
                        <th scope="col">gender</th>
                        <th scope="col">age</th>
                        <th scope="col">birthday</th>
                        <th scope="col">address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id={{ user[0] }}>
                        <td> {{ user[1] }} </td>
                        <td> {{ user[2] }} </td>
                        <td> {{ user[3] }} </td>
                        <td> {{ user[4] }} </td>
                        <td> {{ user[5] }} </td>
                    </tr>
                    </tbody>
            </table>
            <!-- 상품 주문 정보 -->
            <table class="table" id="order">
                <thead>
                    <tr>
                        <th scope="col">order id</th>
                        <th scope="col">purchased date</th>
                        <th scope="col">purchased location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr id={{ order[0] }}>
                        <td> {{ order[0] }} </td>
                        <td> {{ order[1] }} </td>
                        <td> {{ order[2] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
