{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
    <p>Change Account</p>
    <br>Password: <input type="password" name="password" placeholder="Enter Password"/>
    <br><input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
    <p><input type="submit" name="action" value="submit"/></p>
    <p>Delete Account</p>
    <p><input type="submit" name="action" value="delete" onclick="return confirm('Are you sure you want to delete your account?')"/>
</form>
{% endblock %}
