# python compile
__pycache__/
*.pyc

# log files
*.log

# data files
*.csv
*.sqlite
*.sqlite3
*.db
**/audio/*
*.pdf

# temp dir
TEMP/

# flask instance files
instance/

# django project files
upload/
migrations/

# project credentials
.env
secret.txt
gapi-*.json
*.pem

# streamlit secrets
secrets.toml

# vscode settings
.vscode/
