# python compile
__pycache__
*.pyc

# data files
*.csv
*.sqlite
*.sqlite3
*.db
TEMP/

# flask instance files
instance/

# django project files
upload/
migrations/

# project files
.env
secret.txt

# streamlit secrets
secrets.toml

# vscode settings
.vscode/
