<!-- /templates/users.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <form action="" method="post">
            {{ form.csrf }}
            <div class="input text">
                {{ form.name.label }} {{ form.name(value=query['name']) }}
                {{ form.gender.label }} {{ form.gender() }}
                <input type="submit" value="Submit">
            </div>
        </form>

        <div class="table-responsive">
            <!-- 마우스 오버 호버 개선 table-hover, table-light -->
            <table class="table table-hover" id="users">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">gender</th>
                        <th scope="col">age</th>
                        <th scope="col">birthday</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in pagination.items %}
                    <tr id={{ user.id }} class="table-light">
                        <td scope="row"> 
                            <a href="{{ url_for('.user_detail', user_id=user.id) }}">
                                {{ user.id }}
                            </a>
                        </td>
                        <td> {{ user.name }} </td>
                        <td> {{ user.gender }} </td>
                        <td> {{ user.age }} </td>
                        <td> {{ user.birthdate }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% set prev_url = url_for('.users', page_num=pagination.prev_num, **query) if query else url_for('.users', page_num=pagination.prev_num) %}
    {% set next_url = url_for('.users', page_num=pagination.next_num, **query) if query else url_for('.users', page_num=pagination.next_num) %}
    {% set page_url = url_for('.users', page_num=pagination.page, **query) if query else url_for('.users', page_num=pagination.page) %}
    {% set template_name = 'users' %}
    {% include 'pagination.html' %}

{% endblock %}
