<style>
    .login-form {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
    }
</style>

<div class="login-form">
    
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>