<!-- /templates/orders.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <!-- 마우스 오버 호버 개선 table-hover, table-light -->
            <table class="table table-hover" id="orders">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">ordered_at</th>
                        <th scope="col">store_id</th>
                        <th scope="col">user_id</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in pagination.items %}
                    <tr id={{ order.id }} class="table-light">
                        <td> <a href="{{ url_for('.orderitem_detail', order_id=order.id) }}">{{ order.id }}</a> </td>
                        <td> {{ order.orderat }} </td>
                        <td> {{ order.storeid }} </td>
                        <td> {{ order.userid }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% set prev_url = url_for('.orders', page_num=pagination.prev_num) %}
    {% set next_url = url_for('.orders', page_num=pagination.next_num) %}
    {% set page_url = url_for('.orders', page_num=pagination.page) %}
    {% set template_name = '.orders' %}
    {% include 'pagination.html' %}

{% endblock %}
