<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H2>로그인</H2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="/login">
        <label for="id">아이디:</label>
        <input type="text" name="id">
        <br>
        <label for="password">비밀번호:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>
