<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block styles %}{% endblock %}
</head>
<body data-user-id="{{ session['user_id'] if 'user_id' in session else '' }}">
    <header class="{% if session.get('is_admin') %}admin{% endif %}">
        <h1>Music App</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('toplikes') }}">TopLikes</a>
                <a href="{{ url_for('hashtags') }}">Hashtags</a>
                {% if session['user_id'] %}
                    {% if session.get('is_admin') %}
                        <a href="{{ url_for('manage_users') }}">Manage Users</a>
                        <a href="{{ url_for('manage_comments') }}">Manage Comments</a>
                    {% endif %}
                    <a href="{{ url_for('notifications') }}" id="notification-icon">
                        Notifications
                        {% if g.notification_count > 0 %}
                            <span class="notification-count">{{ g.notification_count }}</span>
                        {% endif %}
                    </a>
                    <a href="{{ url_for('profile', user_id=session['user_id']) }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
