<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% if user %}
        <h2>Welcome {{ user.name }}!</h2>
    {% else %}
        <form method="POST">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
