<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Files Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Home Page!</h1>
    <p>This is a simple Flask application demonstrating static files.</p>
    <img src="{{ url_for('static', filename='img/image.png') }}" alt="Sample Image">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
