<!-- /templates/stores.html  -->

{% extends 'base.html' %}

{% block content %}
    <div class="cell-container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="stores">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">type</th>
                        <th scope="col">name</th>
                        <th scope="col">address</th>
                    </tr>
                </thead>
                <tbody>
                {% for store in pagination.items %}
                    <tr id={{ store.id }}>
                        <td> <a href="{{ url_for('.store_detail', store_id=store.id) }}">{{ store.id }}</a> </td>
                        <td> {{ store.type}} </td>
                        <td> {{ store.name }} </td>
                        <td> {{ store.address }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for page in pagination.iter_pages(left_edge=3, right_edge=3, left_current=5, right_current=5) %}
        {% if page %}
            <a href="{{ url_for('.stores', page_num=page) }}">{{ page }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}
