<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Search App</title>
</head>
<body>
    <h1>My Search App</h1>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search..." required>
        <button type="submit" name="type" value="web">웹검색</button>
        <button type="submit" name="type" value="image">이미지검색</button>
        <button type="submit" name="type" value="vclip">비디오검색</button>
    </form>
</body>
</html>
