<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
    <h1>User Information:</h1>

    <form action="/" method="get">
        <input type="text" name="name" placeholder="Search user">
        <input type="submit" value="Search">
    </form>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['name'] }}</td>
            <td>{{ user['age'] }}</td>
            <td>{{ user['phone'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
