<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
    <h1>User Information:</h1>

    <form action="/" method="get">
        <input type="text" name="name" placeholder="Search user">
        <input type="submit" value="Search">
    </form>

    <ul>
        {% for user in users %}
        <li>
            Name: {{ user['name'] }}<br>
            Age: {{ user['age'] }}<br>
            Phone: {{ user['phone'] }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
