<!DOCTYPE html>
<html>
<head>
    <title>Multipart Form Data Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Multipart Form Data Example</h1>
        <form action="{{ url_for('submit_multipart') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="file">File:</label>
                <input type="file" id="file" name="file" class="form-control-file">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</body>
</html>
